{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "parser": "jsonc"
            }
        }
    ]
}
